.chart-container {
    margin: auto;
    margin-top: 2em;
    width: 800px;
}

.title {
    margin: auto;
    margin-top: 3em;
    font-family: sans-serif;
    text-align: center;
}

.count {
    width: 10%;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
}

.text_answer {
    width: 90%;
    font-family: sans-serif;
    text-align: left;
    background-color: rgba(255, 127, 80, 0.8);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 127, 80, 1);
    padding: 10px;
}

.text_answer_container {
    width: 800px;
    margin: auto;
    display: flex;
}

a {
    margin: auto;
}

footer {
    display: flex;
}